* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 100%;
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

li {
	list-style: nones;
}

body {
	font-family: sans-serif;
}
